*{
    margin: 0;
}
body{
    background-image: url(assets/media/fondo.png);
    max-width: 100%;
    height: auto;
    font-family: 'Hind', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
/* configurando todos los assets */
.logo {
    width: 130px;
    margin: 12px 0 0 20px;
}
i {
    font-size: 35px;
    font-weight: bold;
    margin: 4px 0 4px 12px;
}
a {
    font-size: 20px;
    text-decoration: none;
}
/* contenerdores */
.header {
    display: flex;
    justify-content: space-between;
}

.container-nav {
    display: flex;
    align-items: center;
    margin: 0 25px;
}
.container-nav .nav a {
    color: #D0D3D4;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    margin: 0 10px;
    border: 1px solid #D0D3D4;
    border-radius: 5px;
}
.container-nav .nav a:hover{
    color: #5D6D7E;
    cursor: pointer;
    border: 1px solid #5D6D7E;
}
.container-main {
    border-top: 1px solid #D0D3D4;
    border-bottom: 1px solid #D0D3D4;
    width: 700px;
    margin: auto;
    color: #D0D3D4;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-shadow: 0.2em 0.2em #333;
}
.tecnologies {
    margin: auto;
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 120px;
}
.tecnologies i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D0D3D4;
    font-size: 160px;
}
.tecnologies div{
    padding: 5px;
}
.tecnologies i:hover {
    color: #5D6D7E;
    cursor: pointer;
    font-size: 180px;
}
@media screen and (max-width: 400px) {
    body{
        background-image: url(assets/media/fondomb.png);
    }
}
